/utils/*.pyc
/LearningBased/*.pyc
/LearningBased/*.npy
/LearningBased/BoVW/*.npy
/LearningBased/BoVW-MI/.idea/*
/LearningBased/BoVW-MI/data/*
/LearningBased/BoVW-MI/dictionarys/*
/LearningBased/BoVW-MI/find_best/*
/LearningBased/BoVW-MI/*.mat
/LearningBased/BoVW-MI/*.npy
/LearningBased/BoVW-texturespecific/*.npy
/LearningBased/BoVW-texturespecific/*.pyc
/LearningBased/BoVW_DualDict/*
/LearningBased/SparseCoding/*.npy
/LearningBased/SparseCoding/*.pyc
/DeepLearning/Frid-Adar/*
/DeepLearning/Patch_ROI_Frid-Adar/*
/DeepLearning/Patch_ROI/*
/DeepLearning/Patched/*
/DeepLearning/ROI/*

/DeepLearning/Patch_ROI_multiloss/log/*
/DeepLearning/Patch_ROI_multiloss/mat/*
/DeepLearning/Patch_ROI_multiloss/models/*
/DeepLearning/Patch_ROI_multiloss/*.npy
/DeepLearning/Patch_ROI_multiloss/*.mat
/DeepLearning/Patch_ROI_multiloss/*.pyc


/DeepLearning/Patch_ROI_multiloss_multiphase/log/*
/DeepLearning/Patch_ROI_multiloss_multiphase/mat/*
/DeepLearning/Patch_ROI_multiloss_multiphase/models/*
/DeepLearning/Patch_ROI_multiloss_multiphase/*.npy
/DeepLearning/Patch_ROI_multiloss_multiphase/*.mat
/DeepLearning/Patch_ROI_multiloss_multiphase/*.pyc